@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

:root {
    touch-action: pan-x pan-y;
    height: 100%
}

body {
    background-color: #5463FF;
    font-family: 'Delicious Handrawn', cursive;
    block-size: auto;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gridContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FF1818;
    min-width: 50%;
    height: 80%;
    margin-top: 50px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.gridTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FFC300;
    width: 100%;
    font-size: 4rem;
    font-weight: 400;
    padding-bottom: 12px;
}

.grid {
    display: flex;
    background-color: #ECECEC;
    height: 640px;
    width: 640px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    border-style: solid;
    border-width: 1px;
    margin: 10px;
}

.gridColumn {
    flex: 1;
}

.cell {
    border: 1px solid black;
}

.controlsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    user-select: none;
}

.eraseControl {
    background-color: #FFC300;
    color: black;
    font-size: 32px;
    padding: 10px;
    border-radius: 12px;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.eraseControl:hover {
    cursor: pointer;
    background-color: #f1cc51;
}

.sizeControlContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 32px;
    gap: 9px;
    margin-bottom: 62px;
}

.sizeControlLarge {
    background-color: #FFC300;
    height: 18px;
    width: 18px;
    border-color: #ebb000;
    border-style: solid;
    border-width: 0.5px;
}

.sizeControlSmall {
    background-color: #FFC300;
    height: 12px;
    width: 12px;
    border-color: #ebb000;
    border-style: solid;
    border-width: 0.5px;
}

.colorControlContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 32px;
    gap: 9px;
    margin-bottom: 62px;
}

.colorGrey {
    background-color: #868686;
    height: 16px;
    width: 16px;
    border-color: #5e5d5d;
    border-style: solid;
    border-width: 0.5px;
}

.colors {
    background-color: #00ff95;
    height: 16px;
    width: 16px;
    border-color: #00a560;
    border-style: solid;
    border-width: 0.5px;
}

.buttonSize {
    height: 75px;
    width: 75px;
}

.buttonSize:hover {
    filter: brightness(200%);
    cursor: pointer;
}

.buttonColor {
    height: 75px;
    width: 75px;
}

.buttonColor:hover {
    filter: brightness(200%);
    cursor: pointer;
}

.footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    color: #ECECEC;
    gap: 12px;
    font-size: 24px;
    margin-top: 16px;
    width: 100%;
}